<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.urbancode.com/PluginXMLSchema_v1">
    <header>
        <identifier version="1" id="com.serena.air.plugin.Fortify-WIE"
                    name="Fortify WebInspect Enterprise"/>
        <description>
            The Micro Focus Fortify WebInspect Enterprise plugin allows you to execute dynamic application
            security testing as part of a workflow.
        </description>
        <tag>Security/Fortify/WebInspect Enterprise</tag>
    </header>

    <!-- ==================================== -->
    <!--  Create Scan from URL                        -->
    <!-- ==================================== -->
    <step-type name="Create Scan from URL">
        <description>Create a new simple scan from a URL.</description>
        <properties>
            <property name="scanName" required="true">
                <property-ui type="textBox" label="Scan Name"
                             description="The name of the scan (for display purposes)."/>
            </property>
            <property name="scanUrl" required="true">
                <property-ui type="textBox" label="Scan URL"
                             description="The URL to scan."/>
            </property>
            <property name="appName" required="true">
                <property-ui type="textBox" label="SSC Application Name" default-value="${p:application.name}"
                             description="The name of the related application in Software Security Center."/>
            </property>
            <property name="appVerName" required="true">
                <property-ui type="textBox" label="SSC Version Name"
                             description="The name of the related application version in Software Security Center."/>
            </property>
            <property name="policyName" required="true">
                <property-ui type="textBox" label="Policy Name"
                             description="The name of the security policy to use." default-value="Standard"/>
            </property>
            <property name="sensorName">
                <property-ui type="textBox" label="Sensor Name"
                             description="The name of the sensor to use. Leave blank to run on any sensor"/>
            </property>
            <property name="scanPriority">
                <property-ui type="textBox" label="Priority"
                             description="The priority for the scan, default is 3." default-value="3"/>
            </property>
            <property name="serverUrl" required="true">
                <property-ui type="textBox" default-value="${p:system/wie.serverUrl}" label="WIE Server URL"
                             description="The WebInspect Enterprise server URL, e.g. https://server/WIE"/>
            </property>
            <property name="username">
                <property-ui type="textBox" default-value="${p:system/wie.username}" label="WIE Username"
                             description="The username to connect to the WebInspect Enterprise server."/>
            </property>
            <property name="password">
                <property-ui type="secureBox" default-value="${p:system/wie.password}" label="WIE Password"
                             description="The password to connect to the WIE server."/>
            </property>
            <property name="waitForCompletion" required="false">
                <property-ui type="checkBox" label="Wait for Completion" default-value="true"
                             description="Select this option to wait until the scan has completed."/>
            </property>
            <property name="delay">
                <property-ui type="textBox" default-value="6000" hidden="true" label="Delay Interval"
                             description="The delay (in ms) to wait before re-checking the status."/>
            </property>
            <property name="debugMode" required="false">
                <property-ui type="checkBox" label="Debug Output" hidden="true"
                             description="Select this option to display debug output during execution."/>
            </property>
        </properties>
        <post-processing><![CDATA[
        if (properties.get("exitCode") != 0) {
            properties.put(new java.lang.String("Status"), new java.lang.String("Failure"));
        }
        else {
            properties.put("Status", "Success");
        }
     ]]></post-processing>
        <command program="${GROOVY_HOME}/bin/groovy">
            <arg value="-cp"/>
            <arg path="classes:lib/*"/>
            <arg file="create_scan_from_url.groovy"/>
            <arg file="${PLUGIN_INPUT_PROPS}"/>
            <arg file="${PLUGIN_OUTPUT_PROPS}"/>
        </command>
    </step-type>

    <!-- ==================================== -->
    <!--  Create Scan from Template           -->
    <!-- ==================================== -->
    <step-type name="Create Scan from Template">
        <description>Create a new simple scan from a template.</description>
        <properties>
            <property name="scanName" required="true">
                <property-ui type="textBox" label="Scan Name"
                             description="The name of the scan (for display purposes)."/>
            </property>
            <property name="scanTemplateId" required="true">
                <property-ui type="textBox" label="Scan Template Id"
                             description="The UUID of the template to use, can be found in the WebConsole."/>
            </property>
            <property name="appName" required="true">
                <property-ui type="textBox" label="SSC Application Name" default-value="${p:application.name}"
                             description="The name of the related application in Software Security Center."/>
            </property>
            <property name="appVerName" required="true">
                <property-ui type="textBox" label="SSC Version Name"
                             description="The name of the related application version in Software Security Center."/>
            </property>
            <property name="policyName" required="true">
                <property-ui type="textBox" label="Policy Name"
                             description="The name of the security policy to use." default-value="Standard"/>
            </property>
            <property name="sensorName">
                <property-ui type="textBox" label="Sensor Name"
                             description="The name of the sensor to use. Leave blank to run on any sensor"/>
            </property>
            <property name="scanPriority">
                <property-ui type="textBox" label="Priority"
                             description="The priority for the scan, default is 3." default-value="3"/>
            </property>
            <property name="serverUrl" required="true">
                <property-ui type="textBox" default-value="${p:system/wie.serverUrl}" label="WIE Server URL"
                             description="The WebInspect Enterprise server URL, e.g. https://server/WIE"/>
            </property>
            <property name="username">
                <property-ui type="textBox" default-value="${p:system/wie.username}" label="WIE Username"
                             description="The username to connect to the WebInspect Enterprise server."/>
            </property>
            <property name="password">
                <property-ui type="secureBox" default-value="${p:system/wie.password}" label="WIE Password"
                             description="The password to connect to the WIE server."/>
            </property>
            <property name="waitForCompletion" required="false">
                <property-ui type="checkBox" label="Wait for Completion" default-value="true"
                             description="Select this option to wait until the scan has completed."/>
            </property>
            <property name="delay">
                <property-ui type="textBox" default-value="6000" hidden="true" label="Delay Interval"
                             description="The delay (in ms) to wait before re-checking the status."/>
            </property>
            <property name="debugMode" required="false">
                <property-ui type="checkBox" label="Debug Output" hidden="true"
                             description="Select this option to display debug output during execution."/>
            </property>
        </properties>
        <post-processing><![CDATA[
        if (properties.get("exitCode") != 0) {
            properties.put(new java.lang.String("Status"), new java.lang.String("Failure"));
        }
        else {
            properties.put("Status", "Success");
        }
     ]]></post-processing>
        <command program="${GROOVY_HOME}/bin/groovy">
            <arg value="-cp"/>
            <arg path="classes:lib/*"/>
            <arg file="create_scan_from_template.groovy"/>
            <arg file="${PLUGIN_INPUT_PROPS}"/>
            <arg file="${PLUGIN_OUTPUT_PROPS}"/>
        </command>
    </step-type>

    <!-- ==================================== -->
    <!--  Create Scan from Settings File      -->
    <!-- ==================================== -->
    <step-type name="Create Scan from Settings File">
        <description>Create a new simple scan from an uploaded settings file.</description>
        <properties>
            <property name="scanName" required="true">
                <property-ui type="textBox" label="Scan Name"
                             description="The name of the scan (for display purposes)."/>
            </property>
            <property name="settingsFileName" required="true">
                <property-ui type="textBox" label="Settings File Name"
                             description="The filename of the settings file to use, relative to the working directory."/>
            </property>
            <property name="appName" required="true">
                <property-ui type="textBox" label="SSC Application Name" default-value="${p:application.name}"
                             description="The name of the related application in Software Security Center."/>
            </property>
            <property name="appVerName" required="true">
                <property-ui type="textBox" label="SSC Version Name"
                             description="The name of the related application version in Software Security Center."/>
            </property>
            <property name="policyName" required="true">
                <property-ui type="textBox" label="Policy Name"
                             description="The name of the security policy to use." default-value="Standard"/>
            </property>
            <property name="sensorName">
                <property-ui type="textBox" label="Sensor Name"
                             description="The name of the sensor to use. Leave blank to run on any sensor"/>
            </property>
            <property name="scanPriority">
                <property-ui type="textBox" label="Priority"
                             description="The priority for the scan, default is 3." default-value="3"/>
            </property>
            <property name="serverUrl" required="true">
                <property-ui type="textBox" default-value="${p:system/wie.serverUrl}" label="WIE Server URL"
                             description="The WebInspect Enterprise server URL, e.g. https://server/WIE"/>
            </property>
            <property name="username">
                <property-ui type="textBox" default-value="${p:system/wie.username}" label="WIE Username"
                             description="The username to connect to the WebInspect Enterprise server."/>
            </property>
            <property name="password">
                <property-ui type="secureBox" default-value="${p:system/wie.password}" label="WIE Password"
                             description="The password to connect to the WIE server."/>
            </property>
            <property name="waitForCompletion" required="false">
                <property-ui type="checkBox" label="Wait for Completion" default-value="true"
                             description="Select this option to wait until the scan has completed."/>
            </property>
            <property name="delay">
                <property-ui type="textBox" default-value="6000" hidden="true" label="Delay Interval"
                             description="The delay (in ms) to wait before re-checking the status."/>
            </property>
            <property name="debugMode" required="false">
                <property-ui type="checkBox" label="Debug Output" hidden="true"
                             description="Select this option to display debug output during execution."/>
            </property>
        </properties>
        <post-processing><![CDATA[
        if (properties.get("exitCode") != 0) {
            properties.put(new java.lang.String("Status"), new java.lang.String("Failure"));
        }
        else {
            properties.put("Status", "Success");
        }
     ]]></post-processing>
        <command program="${GROOVY_HOME}/bin/groovy">
            <arg value="-cp"/>
            <arg path="classes:lib/*"/>
            <arg file="create_scan_from_settings.groovy"/>
            <arg file="${PLUGIN_INPUT_PROPS}"/>
            <arg file="${PLUGIN_OUTPUT_PROPS}"/>
        </command>
    </step-type>

    <!-- ==================================== -->
    <!--  Get Scan Status                     -->
    <!-- ==================================== -->
    <step-type name="Get Scan Status">
        <description>Gets the status of a previously initiated scan.</description>
        <properties>
            <property name="scanId" required="true">
                <property-ui type="textBox" label="Scan Id"
                             description="The UUID of the scan to check the status of."
                             default-value="${prevStep/scanId}"/>
            </property>
            <property name="serverUrl" required="true">
                <property-ui type="textBox" default-value="${p:system/wie.serverUrl}" label="WIE Server URL"
                             description="The WebInspect Enterprise server URL, e.g. https://server/WIE"/>
            </property>
            <property name="username">
                <property-ui type="textBox" default-value="${p:system/wie.username}" label="WIE Username"
                             description="The username to connect to the WebInspect Enterprise server."/>
            </property>
            <property name="password">
                <property-ui type="secureBox" default-value="${p:system/wie.password}" label="WIE Password"
                             description="The password to connect to the WIE server."/>
            </property>
            <property name="waitForCompletion" required="false">
                <property-ui type="checkBox" label="Wait for Completion" default-value="true"
                             description="Select this option to wait until the scan has completed."/>
            </property>
            <property name="delay">
                <property-ui type="textBox" default-value="6000" hidden="true" label="Delay Interval"
                             description="The delay (in ms) to wait before re-checking the status."/>
            </property>
            <property name="debugMode" required="false">
                <property-ui type="checkBox" label="Debug Output" hidden="true"
                             description="Select this option to display debug output during execution."/>
            </property>
        </properties>
        <post-processing><![CDATA[
        if (properties.get("exitCode") != 0) {
            properties.put(new java.lang.String("Status"), new java.lang.String("Failure"));
        }
        else {
            properties.put("Status", "Success");
        }
     ]]></post-processing>
        <command program="${GROOVY_HOME}/bin/groovy">
            <arg value="-cp"/>
            <arg path="classes:lib/*"/>
            <arg file="get_scan_status.groovy"/>
            <arg file="${PLUGIN_INPUT_PROPS}"/>
            <arg file="${PLUGIN_OUTPUT_PROPS}"/>
        </command>
    </step-type>

    <!-- ==================================== -->
    <!--  Create Scan Report                  -->
    <!-- ==================================== -->
    <step-type name="Create Scan Report">
        <description>Create a HTML report of a previously initiated scan.</description>
        <properties>
            <property name="scanId" required="true">
                <property-ui type="textBox" label="Scan Id"
                             description="The UUID of the scan to create the report for."
                             default-value="${prevStep/scanId}"/>
            </property>
            <property name="reportFileName" required="true">
                <property-ui type="textBox" label="Report File Name"
                             description="The name of the HTML file to create with the results in."
                             default-value="scanResults.html"/>
            </property>
            <property name="serverUrl" required="true">
                <property-ui type="textBox" default-value="${p:system/wie.serverUrl}" label="WIE Server URL"
                             description="The WebInspect Enterprise server URL, e.g. https://server/WIE"/>
            </property>
            <property name="username">
                <property-ui type="textBox" default-value="${p:system/wie.username}" label="WIE Username"
                             description="The username to connect to the WebInspect Enterprise server."/>
            </property>
            <property name="password">
                <property-ui type="secureBox" default-value="${p:system/wie.password}" label="WIE Password"
                             description="The password to connect to the WIE server."/>
            </property>
            <property name="debugMode" required="false">
                <property-ui type="checkBox" label="Debug Output" hidden="true"
                             description="Select this option to display debug output during execution."/>
            </property>
        </properties>
        <post-processing><![CDATA[
        if (properties.get("exitCode") != 0) {
            properties.put(new java.lang.String("Status"), new java.lang.String("Failure"));
        }
        else {
            properties.put("Status", "Success");
        }
     ]]></post-processing>
        <command program="${GROOVY_HOME}/bin/groovy">
            <arg value="-cp"/>
            <arg path="classes:lib/*"/>
            <arg file="create_scan_report.groovy"/>
            <arg file="${PLUGIN_INPUT_PROPS}"/>
            <arg file="${PLUGIN_OUTPUT_PROPS}"/>
        </command>
    </step-type>

</plugin>
